<h2 class="title">施術メニュー/料金設定<p style="font-size: 13px;">サイトに記載する施術メニュー、料金の設定を行ってください。</p></h2>
<div class="form-1">
  <%= form_with(model: @plan, url: store_manager_plan_path, method: :PATCH, local: true) do |f| %>
    <div class="flex-parent-new-page">
    <!-- 写真機能はまだ　-->
      <div class="left-side">
        <!--プラン写真<span class="entrust-label">任意</span><br>
        <img src="" height="220" width="220"><br>
        <button class="file-button" disabled>ファイルを選択</button>-->
      </div>
      <div class="right-side">
        <%= f.label "プラン名" %><span class="necessary-label">必須</span>
        <%= f.text_field :plan_name, class: "form-control", id: "input-form" %>

        <%= f.label "プラン内容" %><span class="necessary-label">必須</span>
        <%= f.text_area :plan_content, class: "form-control", id: "input-form" %>

        <%= f.label "プラン時間(単位/分)" %><span class="necessary-label">必須</span>
        <%= f.number_field :plan_time, class: "form-control", id: "input-form" %>

        <%= f.label "プラン料金(税別)" %><span class="necessary-label">必須</span>
        <%= f.number_field :plan_price, class: "form-control", id: "input-form" %>

      </div>
    </div>
    <%= f.submit "プランの編集", class: "create-button" %>
  <%end %>
</div>


<div class="return-btn"><%= link_to "登録内容の一覧に戻る", store_manager_plans_path %></div>

