<div class="container">
  <div class="row">
    <div class="col-md-8 offset-2">
      <% flash.each do |message_type, msg| %>
        <div class="mt-4 alert alert-<%= message_type %>"><%= msg %></div>
      <% end %>
      <h3 class="my-5 text-center">新規マッサージ師登録</h3>
      <hr>
      <div class="form_group">
        <%= form_with(model: @masseur, url: store_manager_masseurs_path, local: true) do |f| %>
          <%= render "shared/error_messages", object: f.object %>

          <div class="field">
            <%= f.label Masseur.human_attribute_name(:masseur_name), class: "mt-4 mr-2" %>
            <span class="badge badge-danger">必須</span>
            <%= f.text_field :masseur_name, autofocus: true, autocomplete: "masseur_name", class: "form-control" %>
          </div>

          <div class="field mt-3">
            <%= f.label Masseur.human_attribute_name(:email), class: "mr-2" %>
            <span class="badge badge-danger">必須</span>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
          </div>

          <div class="field mt-3">
            <%= f.label Masseur.human_attribute_name(:adress) %>
            <%= f.text_field :adress, autofocus: true, autocomplete: "adress",
            placeholder: "例）東京都墨田区押上１丁目１−２", class: "form-control" %>
          </div>

          <div class="field mt-3">
            <%= f.label Masseur.human_attribute_name(:phone_number) %>
            <%= f.text_field :phone_number,  autofocus: true, autocomplete: "phone_number",
            placeholder: "例）012−3456-7890", class: "form-control" %>
          </div>

          <div class="field mt-3">
            <%= f.label Masseur.human_attribute_name(:password), class: "mr-2" %>
            <span class="badge badge-danger">必須</span>
            <%= f.password_field :password, autocomplete: "new-password", placeholder: "6文字以上", class: "form-control" %>
          </div>

          <div class="field mt-3">
            <%= f.label Masseur.human_attribute_name(:password_confirmation), class: "mr-2" %>
            <span class="badge badge-danger">必須</span>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
          </div>

          <div class="actions text-center">
            <%= f.submit "新規マッサージ師登録", class: "btn btn-primary mt-5 w-50" %>
          </div>
        <% end %>
      </div> 
      <br><br>
      <%= link_to "登録マッサージ師一覧", store_manager_masseurs_path %><br><br><br>
    </div>
  </div>
</div>