<div class="container">
  <div class="row">
    <div class="col-md-8 offset-2">
      <% flash.each do |message_type, msg| %>
        <div class="mt-4 alert alert-<%= message_type %>"><%= msg %></div>
      <% end %>
      <h3 class="mt-5 mb-4 text-center"><%= @store.store_name %>の編集</h3>
        <hr>
        <div class="jumbotron">
          <div class="form_group">
            <%= form_with(model: @store, url: store_manager_store_path(@store), method: :patch, local: true) do |sf| %>
              <%= render "shared/error_messages", object: sf.object %>
              <div class="field mt-3">
                <%= sf.label :store_name, class:"mr-2"%><span class="badge badge-danger">必須</span>
                <%= sf.text_field :store_name, class:"form-control" %>
              </div>

              <div class="field mt-3">
                <%= sf.label :adress, class:"mr-2" %>
                <%= sf.text_field :adress,placeholder: "例）東京都墨田区押上１丁目１−２", class:"form-control" %>
              </div>

              <div class="field mt-3">
                <%= sf.label :store_phonenumber, class:"mr-2" %>
                <%= sf.text_field :store_phonenumber, placeholder: "例）012-3456-7890", class:"form-control" %>
              </div>

              <div class="field mt-3">
                <%= sf.label :store_description, class:"mr-2" %>
                <%= sf.text_area :store_description, class:"form-control" %>
              </div>
              <div class="field mt-3">
                <% unless @store.store_images.any? %>
                  <%= sf.fields_for :store_images, @store.store_images.build do |sif| %>
                    <%= sif.label :store_image, class:"mr-2" %><br>
                    <%= sif.file_field :store_image, multiple: true %>
                  <% end %>
                <% else %>
                  <%= sf.fields_for :store_images do |sif| %>
                    <%= sif.label :store_image, class:"mr-2" %><br>
                    <%= sif.file_field :store_image, multiple: true %><br>
                    <span class="image_notice">※画像の更新をする場合は添付する画像を選択してください。</span>
                    <div class="field mt-3">
                      <%= sif.check_box :remove_store_image %>&ensp;画像の削除</span>
                      <p class="image_notice">※画像を削除する場合はチェックボックスにチェックを入れてください。</p>
                    </div>
                  <% end %>
                <% end %>
              </div>
            <div class="actions mt-5 text-center">
              <%= sf.submit "更新", class:"btn btn-primary w-75" %>
            </div>
            <% end %>
          </div>
        </div>
      <%= link_to "キャンセル", store_managers_show_path(current_store_manager), class:"top_space" %>
    </div>
  </div>
</div>