<div class="container">
  <div class="row">
    <div class="col-md-8 offset-2">
      <% flash.each do |message_type, msg| %>
        <div class="mt-4 alert alert-<%= message_type %>"><%= msg %></div>
      <% end %>
      <h3 class="my-5 text-center"><%= @current_masseur.masseur_name %>の出張範囲登録</h3>
      
      <%= form_with(model: @current_masseur, url: store_manager_business_trip_ranges_update_path(@current_masseur), method: :patch, local: true) do |f| %>
        <table class="prefecture table table-hover">
          <thead>
            <%= collection_check_boxes :prefecture, :prefecture_ids, Prefecture.all, :id, :name, include_hidden: false do |p| %>
            <tr>
              <th>
                <%= p.check_box + p.text %>
              </th>
            </tr>
          </thead>
          
          <tbody>
            <tr>
              <%= render partial: 'cities', locals: { prefecture_id: Prefecture.first.id, f: f, p: p } %>
            </tr>
            <% end %>
          </tbody>
        </table>
        
        <div class="actions text-center">
          <h1 id="result">結果</h1>
          <%= f.submit "登録する", class: "btn btn-primary mt-5 w-50" %>
        </div>
      <% end %>
      <br><br>
      <a href="/store_manager/masseurs/business_trip_ranges">スタッフ一覧画面へ戻る</a><br><br><br>
    </div>
  </div>
</div>

<!--ネット上のjQueryにリンクを貼って使用する方法-->
<script src="//code.jquery.com/jquery-1.12.1.min.js"></script>

<script>

// ↓今のところ東京とそれに紐づく市町村の処理のみ
$(function() {
    // 1. 「全選択」する
    $('#prefecture_prefecture_ids_13').on('click', function() {
      $("input[name='masseur[city_ids][]']").prop('checked', this.checked);
    });
    // 2. 「全選択」以外のチェックボックスがクリックされたら、
    $("input[name='masseur[city_ids][]']").on('click', function() {
      if ($('#boxes :checked').length == $('#boxes :input').length) {
        // 全てのチェックボックスにチェックが入っていたら、「全選択」 = checked
        $('#prefecture_prefecture_ids_13').prop('checked', true);
      } else {
        // 1つでもチェックが入っていたら、「全選択」 = checked
        $('#prefecture_prefecture_ids_13').prop('checked', false);
      }
    });
})

$(function(){
    $('#prefecture_id').change(function(){
        var pref_id = $("#prefecture_id").val();
        $.get("city_select?prefecture_id=" + prefecture_id);
    })
});


</script>