<div class="container">
  <div class="row">
    <div class="col-md-8 offset-2">
      <% flash.each do |message_type, msg| %>
        <div class="mt-4 alert alert-<%= message_type %>"><%= msg %></div>
      <% end %>
      <h3 class="my-5 text-center"><%= @current_masseur.masseur_name %>の出張範囲登録</h3>
      
      <%= form_with(model: @current_masseur, url: store_manager_business_trip_ranges_update_path(@current_masseur), method: :patch, local: true) do |f| %>
        
      
        <% @ranges.each do |range| %>
          <%= f.fields_for "business_trip_ranges[]", range, method: :patch do |r| %>
            <%= r.check_box :city_judge, {}, "true", "false" %>
            <%= range.city_name %>
          <% end %>
        <% end %>
        
        <%= f.submit "登録する" %>
        
      <% end %>
      <br><br>
      <%= link_to "登録内容の編集に戻る", store_managers_show_path(current_store_manager) %><br><br><br>
    </div>
  </div>
</div>

