<div class="container">
  <div class="row">
    <div class="col-md-8 offset-2">
      <% flash.each do |message_type, msg| %>
        <div class="mt-4 alert alert-<%= message_type %>"><%= msg %></div>
      <% end %>
      <h3 class="my-5 text-center"><%= @current_masseur.masseur_name %>の出張範囲登録</h3>
      
      <%= form_with(model: @current_masseur, url: store_manager_business_trip_ranges_update_path(@current_masseur), method: :patch, local: true) do |f| %>
        <table class="prefecture table table-hover">
          <thead>
            <%= collection_check_boxes :prefecture, :prefecture_ids, Prefecture.all, :id, :name, include_hidden: false do |p| %>
            <tr>
              <th>
                <%= p.check_box + p.text %></label>
              </th>
            </tr>
          </thead>
          
          <tbody>
            <tr>
              <td class="city-check-boxes">
                <%= f.collection_check_boxes :city_ids, City.all, :id, :name, include_hidden: false do |c| %>
                <ul class="city-check-box">
                  <% if p.object.id == c.object.prefecture_id %>
                    <div id="boxes">
                      <li class="city-check-box-item"><%= c.check_box + c.text %></li>
                    </div>
                  <% end %>
                </ul>
                <% end %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
        <%= f.submit "登録する" %>
      <% end %>
      <br><br>
      <%= link_to "登録内容の編集に戻る", store_managers_show_path(current_store_manager) %><br><br><br>
    </div>
  </div>
</div>

<!--ネット上のjQueryにリンクを貼って使用する方法-->
<script src="//code.jquery.com/jquery-1.12.1.min.js"></script>

<script>

// ↓今のところ東京とそれに紐づく市町村の処理のみ
$(function() {
    // 1. 「全選択」する
    $('#prefecture_prefecture_ids_13').on('click', function() {
      $("input[name='masseur[city_ids][]']").prop('checked', this.checked);
    });
    // 2. 「全選択」以外のチェックボックスがクリックされたら、
    $("input[name='masseur[city_ids][]']").on('click', function() {
      if ($('#boxes :checked').length == $('#boxes :input').length) {
        // 全てのチェックボックスにチェックが入っていたら、「全選択」 = checked
        $('#prefecture_prefecture_ids_13').prop('checked', true);
      } else {
        // 1つでもチェックが入っていたら、「全選択」 = checked
        $('#prefecture_prefecture_ids_13').prop('checked', false);
      }
    });
})

</script>