<head>
    <meta charset="UTF-8">
    <meta name="description" content="Fashi Template">
    <meta name="keywords" content="Fashi, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fashi | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <% unless user_signed_in? %>
    <%= link_to 'Googleアカウントでログイン',  user_google_omniauth_authorize_path %>
    <% end %>
</head>
    <!-- Header Section Begin -->
    <header class="header-section">
        <div class="header-top">
            <div class="container">
                <div class="ht-left">
                    <div class="mail-service">
                        <i class=" fa fa-envelope"></i>
                        <% if user_signed_in? %>
                        <%= current_user.email %>
                        <% end %>
                    </div>
                    <div class="phone-service">
                        <i class=" fa fa-phone"></i>
                        +65 11.188.888
                    </div>
                </div>
                <div class="ht-right">
                    <a href="#" class="login-panel"><i class="fa fa-user"></i>Login</a>
                    <div class="lan-selector">
                        <select class="language_drop" name="countries" id="countries" style="width:300px;">
                            <option value='yt' data-image="images/flag-1.jpg" data-imagecss="flag yt"
                                data-title="English">English</option>
                            <option value='yu' data-image="images/flag-2.jpg" data-imagecss="flag yu"
                                data-title="Bangladesh">German </option>
                        </select>
                    </div>
                    <div class="top-social">
                        <a href="#"><i class="ti-facebook"></i></a>
                        <a href="#"><i class="ti-twitter-alt"></i></a>
                        <a href="#"><i class="ti-linkedin"></i></a>
                        <a href="#"><i class="ti-pinterest"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="inner-header">
                <div class="row">
                    <div class="col-lg-3 col-md-3">
                        <div class="logo">
                            <a href="./">
                                <img src="images/logo1.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-7">
                        <div class="advanced-search">
                            <button type="button" class="category-btn">All Categories</button>
                            <form action="#" class="input-group">
                                <input type="text" placeholder="What do you need?">
                                <button type="button"><i class="ti-search"></i></button>
                            </form>
                        </div>
                    </div>
                    <!-- mobile menu表示時用 -->
                    <div class="col-lg-2 col-md-2">
                        <p>&emsp;</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="nav-item">
            <div class="container">
                <div class="nav-depart">
                    <div class="depart-btn">
                        <i class="ti-menu"></i>
                        <span>カテゴリ一覧</span>
                        <ul class="depart-hover">
                            <li class="active"><%= link_to "出張マッサージ", "#"%></li>
                            <li><%= link_to "要国家資格のケア", "#"%></li>
                            <li><%= link_to "アロマセラピー", "#"%></li>
                            <li><%= link_to "リラクゼーションケア", "#"%></li>
                            <li><%= link_to "骨盤矯正", "#"%></li>
                            <li><%= link_to "リフレクソロジー", "#"%></li>
                            <li><%= link_to "タイ古式マッサージ", "#"%></li>
                            <li><%= link_to "指圧", "#"%></li>
                            <li><%= link_to "オイルマッサージ", "#"%></li>
                            <li><%= link_to "アーユルヴェーダ", "#"%></li>
                            <li><%= link_to "スポーツマッサージ", "#"%></li>
                        </ul>
                    </div>
                </div>
                <nav class="nav-menu mobile-menu">
                    <ul>
                        <li><%= link_to "トップ", root_path %></li>
                        <li><%= link_to "一覧ページ", shop_path %></li>
                        <li><%= link_to "詳細", details_path %></li>
                        <li><a href="./blog.html">Blog</a></li>
                        <li><a href="./contact.html">Contact</a></li>
                        <!-- 以下は(仮)Decorator導入の際に整える -->
                        <% if user_signed_in? %>
                            <li><%= link_to "#{current_user.name}", "#" %>
                                <ul class="dropdown">
                                    <li><%= link_to "マイページ", user_path(current_user) %></li>
                                    <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
                                </ul>
                            </li>
                        <% elsif store_manager_signed_in? %>
                            <li><%= link_to "#{current_store_manager.name}", "#" %>
                                <ul class="dropdown">
                                    <li><%= link_to "マイページ", store_manager_path(current_store_manager) %>
                                    <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
                                </ul>
                            </li>
                        <% else  %>
                            <li><a href="#">アカウント</a>
                                <ul class="dropdown">
                                    <li><%= link_to "ログイン", new_user_session_path %></li>
                                    <li><%= link_to "新規会員登録", new_user_registration_path %></li>
                                    <li><%= link_to "マッサージ師として新規会員登録", new_store_manager_registration_path %>
                                    <li><%= link_to "マッサージ師としてログイン", new_store_manager_session_path %></li>
                                </ul>
                            </li>
                        <% end %>
                        
                    </ul>
                </nav>
                <div id="mobile-menu-wrap"></div>
            </div>
        </div>
    </header>
    <!-- Header End -->
    <!-- 以下を消すとスマホ用のメニューが表示されなくなる -->
    <script src="assets/js/jquery-3.3.1.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/jquery-ui.min.js"></script>
    <script src="assets/js/jquery.countdown.min.js"></script>
    <script src="assets/js/jquery.nice-select.min.js"></script>
    <script src="assets/js/jquery.zoom.min.js"></script>
    <script src="assets/js/jquery.dd.min.js"></script>
    <script src="assets/js/jquery.slicknav.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/main.js"></script>