<!DOCTYPE html>
<html>
  <head>
    <title>namespace - store_manager</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'store_managers', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'store_managers', 'data-turbolinks-track': 'reload' %>
  </head>
<body>
<% content_for :content do %>
  <%= yield %>
<% end %>
<%= render template: "layouts/application" %>
</body>
</html>
 <!-- body タグに data-turbolinks 属性を追加 -->
  <body data-turbolinks="false">
    <%= yield %>
  </body>