<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>Smartポータル</title>
    <%= csrf_meta_tags %>
    <meta http-equiv="content-language" content="ja"> <!-- ページに中国語翻訳表示が出ないように対応 -->
    <%= stylesheet_link_tag    'store_manager', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'store_manager', 'data-turbolinks-track': 'reload' %>
  </head>
<body>
<% content_for :content do %>
  <%= yield %>
<% end %>
<%= render template: "layouts/application" %>
</body>
</html>