<div class="container">
  <div class="row">
    <div class="col-md-8 offset-2">
      <h3 class="my-5 text-center">
        新規会員登録
      </h3>
      <hr>
      <div class="jumbotron">
        <div class="form_group">
          <%= form_with(model: @user, url: registration_path(resource_name), method: :post, local: true) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>

            <div class="field">
              <%= f.label :name, class: "mr-2" %>
              <span class="badge badge-danger">必須</span>
              <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control" %>
            </div>

            <div class="field mt-3">
              <%= f.label :nickname, class: "mr-2" %>
              <%= f.text_field :nickname, autofocus: true, autocomplete: "nickname", class: "form-control" %>
            </div>

            <div class="field mt-3">
              <%= f.label :gender, class: "mr-2" %>
              <span class="badge badge-danger mr-4">必須</span>
              <%= f.label :gender, "男性" %>
              <%= f.radio_button :gender, "male", class: "mr-3" %>
              <%= f.label :gender, "女性" %>
              <%= f.radio_button :gender, "female", class: "mr-3" %>
              <%= f.label :gender, "その他" %>
              <%= f.radio_button :gender, "other", class: "mr-3" %>      
            </div>

            <div class="field mt-3">
              <%= f.label :email, class: "mr-2" %>
              <span class="badge badge-danger">必須</span>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
            </div>

            <div class="field mt-3">
              <%= f.label :address, class: "mr-2" %>
              <span class="badge badge-danger">必須</span>
              <%= f.text_field :address, autofocus: true, autocomplete: "address",
              placeholder: "例）東京都墨田区押上１丁目１−２", class: "form-control" %>
            </div>

            <div class="field mt-3">
              <%= f.label :password %>
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %>文字以上)</em>&nbsp;
              <% end %>
              <span class="badge badge-danger">必須</span>
              <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
            </div>

            <div class="field mt-3">
              <%= f.label :password_confirmation %>
              <span class="badge badge-danger">必須</span>
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
            </div>

            <div class="actions text-center">
              <%= f.submit "新規会員登録", class: "btn btn-primary mt-5 w-50" %>
            </div>
          <% end %>
        </div>
      </div>
      <br>
      <%= render "users/shared/links" %><br>
      <%= link_to "トップページ", "/" %><br><br><br>
    </div>
  </div>
</div>
<!-- layouts/userを読み込むと上手く表示されない -->
<%= render template: "layouts/users"%>
