<div class="text_width">
  <h1 class="left_logo">Smart Potal</h1>
  <div class="right_bottun">
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"btn btn-warning btn_space" %>
  </div>
  <div class="hader_space">
    <div class="">
      <ul class="header_ul_space ">
        <li>
          <%= link_to "マイページ", store_manager_path(current_store_manager),  class:"header_line no_nuderline" %>
        </li>
        <li>
          <a class="header_line_a">予約の管理</a>
        </li>
        <li>
          <%= link_to "登録内容の編集", store_managers_show_path(current_store_manager),  class:"header_line no_nuderline" %>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="top_space">
  <div class="text_width text_left">
    <h1 class="top_space bottom_space">予約の管理</h1>
  </div>
  <div class="text_width">
    <br><div id="calendar"></div>
  </div>
</div>

<div id="details" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<%= render template: "layouts/store_managers"%>


  <% @test["tasks"].each do |task| %>
    <%= task["request"] %>
    <%= task["start_at"] %>
    <%= task["end_at"] %>
  <% end %>
 <!-- var test = @event["tasks"][0]["request"] -->
 
<script>

var events_data=[
{
title: 'All Day Event',
start: '2020-06-28',
},
{
title: 'Long Event',
start: '2020-06-28',
end: '2020-06-28',
},
];

console.log(events_data);

$('#calendar').fullCalendar({
        // ヘッダーのタイトルとボタン
        header: {
            // title, prev, next, prevYear, nextYear, today
            left: 'prev,next today',
            center: 'title',
            right: 'month agendaWeek agendaDay'
        },
        dayClick: function () {
            //ここにモーダルで詳細表示
            alert('日付クリックイベント');
        },
        events: events_data,
        // イベントソース(ここにAPI情報を記載)
        eventSources: [
            {
                events: [
                    {
                        title: 'event1',
                        start: '2020-06-01'
                    },
                    {
                        title:  "event2",
                        start: '2020-06-02',
                        end: '2020-06-02'
                    },
                ]
            }
        ],
        // ボタン文字列
        buttonText: {
            today:    '今日',
            month:    '月',
            week:     '週',
            day:      '日'
        },
        // 曜日名称
        dayNames: ['日曜日', '月曜日', '火曜日', '水曜日', '木曜日', '金曜日', '土曜日'],
        // 曜日略称
        dayNamesShort: ['日', '月', '火', '水', '木', '金', '土'],
        
});
</script>