<div class="text_width">
  <h1 class="left_logo">Smart Potal</h1>
  <div class="right_bottun">
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"btn btn-warning btn_space" %>
  </div>
  <div class="hader_space">
    <div class="">
      <ul class="header_ul_space ">
        <li>
          <%= link_to "マイページ", store_manager_path(current_store_manager),  class:"header_line no_nuderline" %>
        </li>
        <li>
          <a class="header_line_a">予約の管理</a>
        </li>
        <li>
          <%= link_to "登録内容の編集", store_managers_show_path(current_store_manager),  class:"header_line no_nuderline" %>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="top_space">
  <div class="text_width text_left">
    <h1 class="top_space bottom_space">予約の管理</h1>
  </div>
  <div class="text_width" >
    
    <div id='calendar'></div>
    
</div>
<div id="details" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<%= render template: "layouts/store_managers"%>

<script>

$('#calendar').fullCalendar({
        
        
        events: '/events.json',
        //カレンダー上部を年月で表示させる
        titleFormat: 'YYYY年 M月',
        //曜日を日本語表示
        dayNamesShort: ['日', '月', '火', '水', '木', '金', '土'],
        //ボタンのレイアウト
        header: {
            // title, prev, next, prevYear, nextYear, today
            left: 'prev,next today',
            center: 'title',
            right: 'month agendaWeek agendaDay'
        },
        events: '/store_managers/<%= @id %>/reservations.json',
        
        viewRender : function(view, element) {
          // 月表示の時
          if (view.type == "month") {
           
            document.getElementsByClassName('fc-prev-button')[0].textContent = "前月"
            document.getElementsByClassName('fc-next-button')[0].textContent = "次月"
          }
          // 週表示の時
          if (view.type == "agendaWeek") {
            
            document.getElementsByClassName('fc-prev-button')[0].textContent = "前週"
            document.getElementsByClassName('fc-next-button')[0].textContent = "次週"
          }
          // 日表示の時
          if (view.type == "agendaDay") {
            document.getElementsByClassName('fc-prev-button')[0].textContent = "前日"
            document.getElementsByClassName('fc-next-button')[0].textContent = "翌日"
          }
        },
        eventClick: function(calEvent, jsEvent, view) {
          // 予定が入っている日をクリックするとモーダル表示
           $('#modalTitle').html(calEvent.title); // モーダルのタイトルをセット
           $('#modalBody .name span').html(calEvent.name);
           $('#modalBody .email span').html(calEvent.email);
           $('#modalBody .phone span').html(calEvent.phone);
           $('#modalBody .start_at span').html(calEvent.start_time);
           $('#modalBody .end_at span').html(calEvent.end_time);
           $('#calendarModal').modal(); // モーダル着火
        },
        
        buttonText: {
            prev: '前',
            next: '次',
            prevYear: '前年',
            nextYear: '翌年',
            today: '今日',
            month: '月',
            week: '週',
            day: '日'
        },
        // Drag & Drop & Resize
        editable: true,
        //イベントの時間表示を２４時間に
        timeFormat: "HH:mm",
        allDaySlot: false,
         slotLabelFormat : 'H:mm',
        views: {
            week: {columnFormat: 'M/D[(]ddd[)]',},
        },
        
        
});
</script>

<!--モーダル画面-->
<div id="calendarModal" class="modal fade">
  <div class="modal-dialog modal-dialog-center">
    <div class="modal-content">
      <div class="modal-header">
        <span id="modalTitle" class="modal-title"></span>
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">×</span>
          <span class="sr-only">close</span>
        </button>
      </div>
      <div id="modalBody" class="modal-body">
        
        <table class="table table-sm">
            <tbody>
              
                <tr>
                    <th scope="row">予約者</th>
                    <td class="name"><span></span>様</td>
                  </tr>
                <tr>
                    <th scope="row">メールアドレス</th>
                    <td class="email"><span></span></td>
                  </tr>
                <tr>
                  <th scope="row">電話番号</th>
                  <td class="phone"><span></span></td>
                </tr>
              
                <tr>
                  <th scope="row">予約開始時間</th>
                  <td class="start_at"><span></span></td>
                </tr>
                
                <tr>
                  <th scope="row">予約終了時間</th>
                  <td class="end_at"><span></span></td>
                </tr>
                
                <tr>
                  <th scope="row">予約コース</th>
                  <td>足つぼ</td>
                </tr>
                <tr>
                  <th scope="row">担当者名</th>
                  <td>staffA</td>
                </tr>
                <tr>
                  <th scope="row">ご要望</th>
                  <td>ご要望スペース</td>
                </tr>
                <tr>
                  <th scope="row">メモ</th>
                  <td>メモスペース</td>
                </tr>
                
            </tbody>
          </table>
      </div>
      
      <div id="modalFooter" class="modal-footer"></div>
    </div>
  </div>
</div>
<!--<%= @events %>-->