<div class="text_width">
  <h1 class="left_logo">Smart Potal</h1>
  <div class="right_bottun">
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"btn btn-warning btn_space" %>
  </div>
  <div class="hader_space">
    <div class="">
      <ul class="header_ul_space ">
        <li>
          <%= link_to "マイページ", store_manager_path(current_store_manager),  class:"header_line no_nuderline" %>
        </li>
        <li>
          <a class="header_line_a">予約の管理</a>
        </li>
        <li>
          <%= link_to "登録内容の編集", store_managers_show_path(current_store_manager),  class:"header_line no_nuderline" %>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="top_space">
  <div class="text_width text_left">
    <h1 class="top_space bottom_space">予約の管理</h1>
  </div>
  <div class="text_width">
    <br><div id="calendar"></div>
  </div>
</div>

<div id="details" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<%= render template: "layouts/store_managers"%>



<div id="calendarModal" class="modal fade">
  <div class="modal-dialog modal-dialog-center">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">×</span>
          <span class="sr-only">close</span>
        </button>
        <span id="modalTitle" class="modal-title"></span>
      </div>
      <div id="modalBody" class="modal-body">あああ</div>
      <div id="modalFooter" class="modal-footer"></div>
    </div>
  </div>
</div>






<% @test["tasks"].each do |task| %>
  <!--<%= task["request"] %>-->
  <!--<%= task["start_at"] %>-->
      <%= Time.at(task["end_at"] + 32400) %>
        <p>予約者名、予約日時、予約メニュー、所要時間、価格、予約者の電話番号、予約者の住所、予約者の要望</p>
  <div id="title" data-title-id="<%= task["request"] %>"></div>
  <div id="start" data-start-id="<%= Time.at(task["start_at"] + 32400) %>"></div>
   <div id="end" data-end-id="<%= Time.at(task["end_at"] + 32400) %>"></div>
   <div id="name" data-name-id="<%= task["store_member"]["name"] %>"></div>
   <div id="phone" data-phone-id="<%= task["store_member"]["phone"] %>"></div>
   <div id="address" data-address-id="<%= task["store_member"]["address"] %>"></div>
   <div id="course" data-course-id="<%= task["task_course"]["title"] %>"></div>
   <div id="course_time" data-course-time-id="<%= task["task_course"]["course_time"] %>"></div>
   <div id="charge" data-charge-id="<%= task["task_course"]["charge"] %>"></div>
   <div id="request" data-request-id="<%= task["request"] %>"></div>
   
   <div id="task" data-task-id="<%= task %>"></div>
<% end %>
  
  
 <!-- var test = @event["tasks"][0]["request"] -->

<script>

// 予約サイトのそれぞれの情報を変数に代入
var task = $('#task').data('task-id');
var title = $('#title').data('title-id');
var start = $('#start').data('start-id');
var end = $('#end').data('end-id');
var name = $('#name').data('name-id');
var phone = $('#phone').data('phone-id');
var address = $('#address').data('address-id');
var course = $('#course').data('course-id');
var course_time = $('#course-time').data('course-time-id');
var charge = $('#charge').data('charge-id');
var request = $('#request').data('request-id');
// カレンダーに表示するデータ
var events_data=[
{
title: name + "様:" + course,
start: '2020-06-28',
// start: start,
// end: end,
name: name,
phone: phone,
address: address,
course: course,
course_time: course_time,
charge: charge,
request: request,
}
];

console.log(task);
$('#calendar').fullCalendar({
        // ヘッダーのタイトルとボタン
        header: {
            // title, prev, next, prevYear, nextYear, today
            left: 'prev,next today',
            center: 'title',
            right: 'month agendaWeek agendaDay'
        },
        eventClick: function(calEvent, jsEvent, view) {
           // 予定が入っている日をクリックするとモーダル表示
           $('#modalTitle').html(calEvent.title); // モーダルのタイトルをセット
           $('#modalBody').html([calEvent.request ]); // モーダルの本文をセット
           $('#calendarModal').modal(); // モーダル着火
        },
        dayClick: function () {
            
            alert('日付クリックイベント');
        },
        events: events_data,
        
        // ボタン文字列
        buttonText: {
            today:    '今日',
            month:    '月',
            week:     '週',
            day:      '日'
        },
        // 曜日名称
        dayNames: ['日曜日', '月曜日', '火曜日', '水曜日', '木曜日', '金曜日', '土曜日'],
        // 曜日略称
        dayNamesShort: ['日', '月', '火', '水', '木', '金', '土'],
        
});
</script>