<div class="text_width">
  <h1 class="left_logo">Smart Potal</h1>
  <div class="right_bottun">
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"btn btn-warning btn_space" %>
  </div>
  <div class="hader_space">
    <div class="">
      <ul class="header_ul_space ">
        <li>
          <%= link_to "マイページ", store_manager_path(current_store_manager),  class:"header_line no_nuderline" %>
        </li>
        <li>
          <%= link_to "予約の確認", store_managers_index_path(current_store_manager),  class:"header_line no_nuderline" %>
        </li>
        <li>
          <a class="header_line_a">登録内容の編集</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="top_space">
  <div class="text_width text_left">
    <% flash.each do |message_type, message| %>
      <div class="alert alert-success mt-5 text_left"><%= message %></div>
    <% end %>
    <h1 class="top_space bottom_space">登録内容</h1>
    <div class="over_flow_h top_space">
      <a class="registered_content left_logo no_nuderline" href="/store_managers/edit" >
        <div class="bottom_space">個人情報の登録変更</div>
        <div class="black_color ">名前/メールアドレスの変更</div>
      </a>
      <a class="registered_content right_logo no_nuderline" href="/store_manager/store/<%= @store.id %>/edit">
        <div class="bottom_space">店舗情報の変更</div>
        <div class="black_color ">店舗情報の変更はこちら</div>
      </a>
    </div>
    <div class="over_flow_h top_space_10">
      <a class="registered_content right_logo no_nuderline" href="/store_manager/masseurs">
        <div class="bottom_space">マッサージ師の登録情報変更</div>
        <div class="black_color ">登録情報の変更／施術カテゴリの登録変更</div>
      </a>
      <%= link_to "#{@order_plan_url}", class: "registered_content left_logo no_nuderline",
          data: { confirm: "予約システムへ移動します。移動後にログインが必要な場合がございます。" } do %>
        <div class="bottom_space">ご契約中のシステムプランの確認</div>
        <div class="black_color ">ご契約内容の変更／解約</div>
      <% end %>
      <a class="registered_content left_logo no_nuderline" href="/store_manager/plans" >
        <div class="bottom_space">プランの管理</div>
        <div class="black_color ">プラン内容の変更/新規登録/削除</div>
      </a>
    </div>
  </div>
</div>
<%= render template: "layouts/store_managers"%>